1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [102]:
#Point a)

print("a) The modified sequence of numbers from 1 to 100 is: ")

for i in range (1,101):
    
    #if i is multiple of three and five
    if i%3==0 and i%5==0:
        print("MickeyMouse",end=" ")
        
    #if i is multiple of three
    elif i%3==0:
        print("Mickey",end=" ")
        
    #if i is multiple of five
    elif i%5==0:
        print("Mouse",end=" ")
        
    #otherwise
    else:
        print(i,end=" ")
        
print()  
print()

#Point b)
#Initially I used a list, because lists are mutable (so I could insert and substitute elements without problems)

print("b) The resulted tuple is: ")
my_list = []

for i in range (1,101):
    
    if i%3==0 and i%5==0:
        my_list.append("DonaldDuck")
        
    elif i%3==0:
        my_list.append("Donald")
        
    elif i%5==0:
        my_list.append("Duck")
        
    else:
        my_list.append(i)

my_tuple=tuple(my_list)
print(my_tuple)

a) The modified sequence of numbers from 1 to 100 is:
1 2 Mickey 4 Mouse Mickey 7 8 Mickey Mouse 11 Mickey 13 14 MickeyMouse 16 17 Mickey 19 Mouse Mickey 22 23 Mickey Mouse 26 Mickey 28 29 MickeyMouse 31 32 Mickey 34 Mouse Mickey 37 38 Mickey Mouse 41 Mickey 43 44 MickeyMouse 46 47 Mickey 49 Mouse Mickey 52 53 Mickey Mouse 56 Mickey 58 59 MickeyMouse 61 62 Mickey 64 Mouse Mickey 67 68 Mickey Mouse 71 Mickey 73 74 MickeyMouse 76 77 Mickey 79 Mouse Mickey 82 83 Mickey Mouse 86 Mickey 88 89 MickeyMouse 91 92 Mickey 94 Mouse Mickey 97 98 Mickey Mouse

b) The resulted tuple is:
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [103]:
#Function my_swap1 swaps the values of two input variables with the help of a temporary variable
def my_swap1(x,y):
    temp=x
    x=y
    y=temp
    return (x,y)

#Function my_swap2 swaps the values of two input variables without the help of a temporary variable
def my_swap2(x,y):
    x,y = y,x
    return (x,y)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [105]:
#Function euclidean_distance returns the euclidean distance between two points (round to two decimal places)
def euclidean_distance(u,v):
    import math
    x1,y1=u
    x2,y2=v
    return round(math.sqrt((x1-x2)**2+(y1-y2)**2),2)

print("E.g.: The euclidean distance between u=(3,0) and v=(0,4) is:", euclidean_distance((3,0),(0,4)))

E.g.: The euclidean distance between u=(3,0) and v=(0,4) is: 5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [107]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

#Function count_character calculates the number of times each character occurs in a given string
def count_character(string, character):
       n = 0
       for i in string:
           if i.lower() == character.lower():
               n += 1
       return n

print("E.g.: The character r occurs in the string s", count_character(s,"r"),"times")

E.g.: The character r occurs in the string s 17 times

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [108]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

#The function unique determines and counts the unique numbers in a given list
def unique(lst):
    list1 = [] 
    count = 0
    for i in lst: 
        if i not in list1: 
            count += 1
            list1.append(i) 
    return [count, list1]

print("The unique numbers in the list are ", unique(l)[0]," and they are specifically: ",unique(l)[1])

The unique numbers in the list are  54  and they are specifically:  [36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [109]:
def square(num):
    return pow(num,2)

def cube(num):
    return pow(num,3)

#We consider the property of exponents: when we multiply powers with the same base, we add the exponents.
def six_power(num):
    return num*square(num)*cube(num)

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [111]:
#a) List obtained using a for loop
lst_cube1 = []
for i in range(0,11):
    lst_cube1.append(pow(i,3))
print("a) List of cubes obtained using a for loop is: ",lst_cube1)

#b) List obtained using a list comprehension
lst2=list(range(0, 11))
lst_cube2 = list(map(lambda x: x ** 3, lst2))
print("b) List of cubes obtained using a list comprehension is: ",lst_cube2)

a) List of cubes obtained using a for loop is:  [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
b) List of cubes obtained using a list comprehension is:  [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [113]:
ls=[]
import math

#Function pythagorean_triplet puts in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.
#We consider that if c<100 also a and b will be <100

def pythagorean_triplet(n):
  for b in range(n):
    for a in range(1, b):
        c = math.sqrt( a * a + b * b)
        if c % 1 == 0:
            t = str(a)+" "+str(b)+" "+str(int(c))
            ls.append(t)
    tup = tuple(ls)
  return tup         

print("The desired pythagorean triples are:")
print(pythagorean_triplet(100))

The desired pythagorean triples are:
('3 4 5', '6 8 10', '5 12 13', '9 12 15', '8 15 17', '12 16 20', '15 20 25', '20 21 29', '7 24 25', '10 24 26', '18 24 30', '21 28 35', '16 30 34', '24 32 40', '12 35 37', '15 36 39', '27 36 45', '9 40 41', '30 40 50', '40 42 58', '33 44 55', '24 45 51', '28 45 53', '14 48 50', '20 48 52', '36 48 60', '39 52 65', '48 55 73', '33 56 65', '42 56 70', '11 60 61', '25 60 65', '32 60 68', '45 60 75', '16 63 65', '60 63 87', '48 64 80', '51 68 85', '24 70 74', '21 72 75', '30 72 78', '54 72 90', '65 72 97', '40 75 85', '57 76 95', '36 77 85', '18 80 82', '39 80 89', '60 80 100', '13 84 85', '35 84 91', '63 84 105', '80 84 116', '66 88 110', '48 90 102', '56 90 106', '60 91 109', '69 92 115', '28 96 100', '40 96 104', '72 96 120', '20 99 101')

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [1]:
#Function normalized_to_one takes a tuple of numbers and returns it with the entries normalized to one
def normalized_to_one(a):
    b=list(a)
    amin, amax = min(b), max(b)
    for i, val in enumerate(b):
         b[i] = (val-amin) / (amax-amin)
            
    return tuple(b)